<h1>burgers!</h1>

<h2>These burgers need to get eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are devour!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Hungry?</label><br>
    <input type="radio" name="devour" value="1" checked> Devoured!<br>
    <input type="radio" name="devour" value="0"> Waiting to be eaten
  </div>

  <button type="submit">Add a Burger</button>
</form>
